body {
	background-color: #eeeeee; /*background color*/
	margin: 0; /*outer border*/
	color: #000000; /*border color*/
}

.title {
	text-transform: uppercase;
	text-align: center;
	text-shadow: 1px 1px;
	color: #009fcf;
	background-color: #000000;
}

.title img {
  max-width: 100%; /*max image width*/
  height: auto; /*image auto resizing*/
}

.title > span > a:hover {
  opacity: 0.95;
}

.nvbar {
	border-style: solid hidden;
	border-color: #222277 #000000 #222255;
}

.nvbar > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333388; /*navbar color*/
}

.nvbar > ul > li {
	float: left; /*Side the navbar buttons are located*/
}

.nvbar > ul > li > a {
	display: block; /*makes padding visible*/
	color: #cfcfcf; /*navbar text color*/
	text-align: center;
	padding: 8px 8px 8px 8px; /*change to edit navbar size*/
	/*order= top right bottom left*/
	background-color: #333388; /*navbar button color*/
  text-decoration: none;
}

.nvbar > ul > li > a:hover {
	background-color: #222288; /*selected navbar button color*/
}

.nvbar > ul > li.selected {
	display: block;
	color: #cfcfcf;
	text-align: center;
	padding: 8px;
	background-color: #111177;
}

.bold {
	text-transform: uppercase;
	text-align: center;
	text-shadow: 1px 1px;
}

.template {
	display: none;
}