main {
    padding-top: 1%;
    background-color: var(--grey);
    min-height: 70vh;
}

.sponsor:first-of-type {
}

.sponsor {
    width: 90%;
    margin: auto;
    background-color: var(--blue);
    padding: 1%;
    border-radius: 10px;
    margin-bottom: 1%;
    display: flex;
    div {
        width: 100%;
        img {
            display: none;
        }
    }
    .title-sponsor {
        margin-right: 1%;
        width: fit-content;
        img {
            width: 100%;
        }
    }
    h2 {
        text-align: center;
        font-size: 2rem;
        color: white;
    }
    ul {
        list-style-type: none;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--grey);
        height: 100%;
        border-radius: 10px;
        li {
            margin: auto;
            text-align: center;
            padding: 3%;
            font-size: 2.5rem;
            font-weight: bold;
        }
    }
    .platinum {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        li {

        }
    }
}

.sponsor:nth-of-type(even) {
    flex-direction: row-reverse;
    .title-sponsor {
        margin-right: 0;
    }
    ul {
        margin-left: 0;
        margin-right: 1%;
    }
}

.sponsor-intro {
    width: 90%;
    margin: auto;
    padding-bottom: 2%;
    h1 {
        text-align: center;
        margin-bottom: 1%;
        font-size: 2.4em;
    }
    p {
        border: 1px solid black;
        border-radius: 5px;
        padding: 1%;
        font-size: 1.7em;
    }
}

@media screen and (max-width: 450px) {
    body {
        overflow-x: hidden;
    }
    main {
        width: 100%;
        overflow-x: hidden;
        background-color: var(--grey);
    }
    .sponsor {
        margin: 0;
        padding: 0;
        width: 100vw;
        flex-direction: column;
        margin-bottom: 5%;
        .title-sponsor {
            margin: 0;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            img {
                grid-column: 1/-1;
                grid-row: 1/-1;
            }
            h2 {
                color: black;
                z-index: 10;
                grid-column: 1/-1;
                grid-row: 1/-1;
                align-self: center;
            }
        }
        div {
            
            ul {
                grid-template-columns: 1fr;
                border-radius: 0;
                width: 100%;
                background-color: var(--blue);
                li {
                    color: white;
                    width: 100%;
                    border-bottom: 1px solid var(--grey);    
                    margin: auto;
                }
            }
        }
        .platinum {
            grid-template-columns: 1fr;
        }
    }
    .sponsor:nth-of-type(even) {
        flex-direction: column;
    }
}